# Build outputs
/dist/
/build/
/releases/
/.pyi-build/
/**/_internal/

# Python artifacts
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
env/

# Local data & logs
log/*.csv
*.log
windows/data/sms_cache.db
at_command_history.txt

# Local config (ไม่อยากเอาขึ้น)
settings.json
windows/config/db.json

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# (ตัวเลือก) กัน .exe/.dll โผล่สเตจ
# *.exe
# *.dll
